body {
	background-color: #5a3f3f;
	background-image: url(https://images.unsplash.com/photo-1619526882657-512b4dffc0e2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.dashboard {
	font-family: 'MyFont', cursive;
	text-align: center;
}

ul {
	width: 100%;
	color: cornsilk;
}

label {
	color: cornsilk;
}

h4 {
	color: cornsilk;
}

.title {
	background-color: #5a3f3f;
	font-family: 'MyFont', cursive;
	font-size: 26px;
	text-align: center;
	padding: 20px;
	justify-content: right;
	-moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
	box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}

.res {
	display: flex;
	justify-content: center;
	display: inline-block;
	margin: 20px;
	max-width: 500px;
	padding: 16px;
	background-color: rgb(59, 59, 59);
	-moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
	box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}

.addtInfo {
	border-style: solid;
	border-width: medium;
	justify-content: center;
	padding: 20px;
	background-color: #6dc2892d;
	-moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
	box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}

.btn {
	justify-content: center;
	-moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
	box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}

@font-face {
	font-family: 'MyFont';
	src: url('../fonts/Syncopate-Bold.ttf');
}

@media screen and (max-width: 40.5em) {
	body {
		background-color: rgb(59, 59, 59);
		background-image: url(https://images.unsplash.com/photo-1619526882657-512b4dffc0e2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
		background-size: cover;
	}

	.dashboard {
		font-family: Arial, Helvetica, sans-serif;
		text-align: center;
	}

	ul {
		width: 100%;
	}

	.title {
		background-color: #5a3f3f;
		font-family: 'MyFont', cursive;
		font-size: 13px;
		text-align: center;
		padding: 20px;
		justify-content: right;
		-moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
		-webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
		box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
	}

	.res {
		display: flex;
		justify-content: center;
		display: inline-block;
		margin: 20px;
		max-width: 500px;
		padding: 16px;
		background-color: rgb(59, 59, 59);
		-moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
		-webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
		box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
	}

	.addtInfo {
		border-style: solid;
		border-width: medium;
		justify-content: center;
		padding: 20px;
		background-color: #06f7562d;
		-moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
		-webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
		box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
	}

	.btn {
		justify-content: center;
		-moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
		-webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
		box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
	}

	@font-face {
		font-family: 'MyFont';
		src: url('../fonts/Syncopate-Bold.ttf');
	}
}
